<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="images/cloud_logo.ico" alt="Ap Logo">
            <a class="navbar-brand" href="/files">My Cloud</a>
        </div>
    </div>
</nav>
